.progress-bars-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  padding-bottom: 1rem;
}

.progress-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  background: var(--White);
}

.first-article {
  background: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
}

.progress-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-size: 0.75rem;
}

.member-column {
  width: 22.5%;
}

.progress-column {
  width: 50%;
}

.todo-column {
  width: 22.5%;
}

.time-column {
  width: 5%;
  justify-content: flex-start;
}

.member {
  padding-left: 0.5rem;
}

.profile-img-wrap {
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.profile-img {
  max-width: 100%;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.progress-bar-container {
  width: 94%;
  height: 10px;
  background-color: var(--clr-white);
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--mainYellow);
}
