:root {
  --lightBlue: #1c2b3f;
  --darkBlue: #182135;
  --mainOrange: #f7902b;
  --mainYellow: #ffa400;
  --mainGreen: #008000;
  --lightGreen: #00fff2;
  --goldenYellow: #fff6a9;
  --clr-grey: #8a8c8c;
  --clr-white: #f0f0f0;
  --softWhite: #fbfaf5;
  --softGrey: #acaea9;
  --clr-black: #000;
  --lightRed: #ff65bd;
  --mainGold: #daa520;
  --White: #fff;
  --simpleBlue: blue;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch !important;
}

body {
  overflow-x: hidden;
}
