*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch !important;
}

body {
  color: var(--clr-grey-1);
  overflow-x: hidden;
  font-size: 0.875rem;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}
